.wrapper_bookm_cont,.images,.noImages,.form-group p,.pages{
  display:flex;
}
.wrapper_bookm_cont{
  flex-direction:column;
  height:100%;
}
.wrapper_bookm_cont,
.noImages,.pages{
  align-items:center;
}
.noImages{
  height:100%;
  transform:translate(0px,-10%);
  font-size:40px;
  font-weight:500;
}
.images{
  width:100%;
  flex-wrap:wrap;
  overflow-y:auto;
  overflow-x:hidden;
  padding-top:40px;
  position:relative;
}
.images::-webkit-scrollbar {
  width: 10px;
}
.images::-webkit-scrollbar-track {
  background: rgba(9,30,66,.08);
  border-radius: 10px;

}
.images::-webkit-scrollbar-thumb {
  background: rgba(9,30,66,.38);
  border-radius: 10px;
}
.images,
.form-group p,
.pages{
  flex-direction:row;
}
.images,.pages{
  justify-content:center;
}
.form-group{
  width:98%;
  margin-top:10px;
  border-radius:5px;
}
.form-group input{
  flex-basis:90%;
  padding:5px 10px;
  background:#fff;
  border:3px solid rgba(240,235,84,.8);
  border-radius:24px;
}
.form-group input,
.form-group button{
  box-shadow:0 2px 5px 1px rgba(64,60,67,.16);
}
.form-group button{
  border-radius:24px;
  flex-basis:10%;
  margin-left:20px;
}
.form-group input:hover,
.form-group button:hover{
  box-shadow:0 0 7px 1px rgba(64,60,67,.36);
}
.form-group button,
.form-group button:active,
.pages button:active,
.prev,
.currPage,
.next{
  background-color:rgba(240,235,84,.8);
}
.form-group button,
.prev,
.currPage,
.next{
  border:3px solid rgba(181,31,31,.65);
}
.form-group button:hover,
.pages button:hover{
  background-color:#f0eb54;
  transform:scale(1.1,1.1);
}
.pages button:hover{
  box-shadow:0 0 3px 1px rgba(64,60,67,.36);
}
.form-group button:active{
  box-shadow:none;
}
.pages button:active{
  box-shadow:none;
}
.form-group button:active,
.pages button:active{
  transform:scale(.9,.9);
}
.pages{
  position:absolute;
  top:0;
  z-index:2;
  left:75%;
  width:200px;
  height:35px;
}
.prev,.next{
  flex-basis:30%;
}
.prev,
.currPage,
.next{
  box-shadow:1px 1px 3px 1px rgba(64,60,67,.16);
}
.currPage{
  flex-basis:40%;
  text-align:center;
  margin:0 5px;
}
.div{display:none;}
.form-group input:-ms-input-placeholder,
.form-group input::-moz-placeholder,
.form-group input:-moz-placeholder,
.form-group input::-webkit-input-placeholder{
  opacity:.5;
}
.prev{
  border-top-left-radius:30px;
  text-align:right;
  padding-right:4px;
}
.next{
  border-bottom-right-radius:30px;
  text-align:left;
  padding-left:4px;
}
